node_modules
# Keep environment variables out of version control
.env
.env*
.env*.local
.env.production
.env.development

# Vercel & build artifacts
.vercel
/generated/prisma

# Ignore uploaded files on local disk
uploads/**/*
!uploads/**/.gitkeep
